[submodule "modules/easyloggingpp"]
	path = modules/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
[submodule "modules/QSimpleUpdater"]
	path = modules/QSimpleUpdater
	url = https://github.com/alex-spataru/QSimpleUpdater.git
