QMenuBar {
    border: none;
}

QMenuBar:item {
    border: none;
    padding: 5px;
}

QMenuBar::item:selected {
    color: rgb(216, 216, 216);
    background-color: rgba(200, 200, 200, 60);
}

QMenuBar::item:pressed {
    color: rgb(216, 216, 216);
    background-color: rgba(125, 125, 125, 80);
    color: gray;
}

QDockWidget {
    font: bold;
}

QToolBar {
    border: 1px solid rgb(38, 38, 38);
}